ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
            border-right: 1px solid #bbb;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        li a:hover {
            background-color: #111;
        }
        .active {
            background-color: #4CAF50;
        }
        .center {
            margin: auto;
            width: 80%;
            padding: 10px;
        }
		
		/* Add borders to the form*/

body {
  position: absolute;
  background-color: #90EE90;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
legend{
  float: center;
  padding-left: 500px;
  padding-top: 150px;
}
form {
  padding: 450px
  border: 5px solid #f1f1f1;
  align: center;
}

/* Styling the Buttons */

button {
  background-color: #4CAF50;
  cursor: pointer;
  width:100%

}

/* Center the title inside this container */
.titlecontainer {
  text-align: center;
  margin: auto;
  color: black;
}
.container {
  color: #FF0000;
}
/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 12px;
  color: black;
}

.checked {
  color: black;
}
/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
